<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>10177E55-41FD-49B9-9437-A3534F98B4A4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>google</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Google for</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>26B53726-B480-42E4-8287-A2B14DBDB9A9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Go to the Jira ticket</string>
			<key>url</key>
			<string>https://jira.etsycorp.com/browse/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2773E38F-68B3-4BD5-94AB-FFF1C37C114A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>compass</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Go to Compass</string>
			<key>url</key>
			<string>https://atlas.etsycorp.com/compass/inbox/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6EB4FBEA-4919-4595-80FC-88BE8E89BD6B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rfc</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Go to RFC</string>
			<key>url</key>
			<string>http://tools.ietf.org/html/rfc{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7DBF14BF-69AF-4F2E-A828-1139471231EA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>conf</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Go to Confluence</string>
			<key>url</key>
			<string>https://jira.etsycorp.com/confluence/dashboard.action</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>91C2FB26-5625-4B55-BCA3-493D985B032A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>atlas</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Go to Atlas</string>
			<key>url</key>
			<string>https://atlas.etsycorp.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>947953FA-55C7-47C5-97A5-190EC2F20E70</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>staff</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Go to the Staff Directory</string>
			<key>url</key>
			<string>https://atlas.etsycorp.com/staff/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AC540C87-0F45-44B8-88DB-9F7561920FD4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>staff</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Go to the Staff Directory page for</string>
			<key>url</key>
			<string>https://atlas.etsycorp.com/staff/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D7CB0D72-A62A-4236-9C6A-5682813C5FF7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>splunk</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Go to Splunk</string>
			<key>url</key>
			<string>https://splunk.etsycorp.com/en-US/app/search/dashboard_live</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DE9B4666-2881-44AC-8D42-96354C465EEA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Go to Jira</string>
			<key>url</key>
			<string>https://jira.etsycorp.com/secure/Dashboard.jspa</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F30B64BB-219E-4517-BD53-7301AD772880</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>conf</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Confluence for</string>
			<key>url</key>
			<string>https://jira.etsycorp.com/confluence/dosearchsite.action?queryString={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F3CF2283-3E5F-4790-B1F1-147325D0A0E0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tms</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Go to TMS</string>
			<key>url</key>
			<string>https://tms.etsycorp.com/en-US/app/search/dashboard_live</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F4186047-51AE-4C8A-8D37-E6A4FCED4C8D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>g</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Google for</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FC4A57A0-8075-47D0-B313-7D89D3A144DE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>spf</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Go to the SPF ticket</string>
			<key>url</key>
			<string>https://jira.etsycorp.com/browse/SPF-{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FF6BE64C-B80E-4092-A10D-D91F77856A95</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>php</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Go to the PHP docs for</string>
			<key>url</key>
			<string>http://php.net/manual/en/function.{query}.php</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
