<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultColumnCount</key>
	<integer>8</integer>
	<key>defaultRowCount</key>
	<integer>8</integer>
	<key>enableAcceleration</key>
	<true/>
	<key>globalHotkey</key>
	<dict>
		<key>keyCode</key>
		<integer>47</integer>
		<key>modifiers</key>
		<integer>256</integer>
	</dict>
	<key>lastColumnCount</key>
	<integer>6</integer>
	<key>lastRowCount</key>
	<integer>6</integer>
	<key>showMenuIcon</key>
	<false/>
	<key>useDefaultGrid</key>
	<true/>
	<key>useGlobalHotkey</key>
	<true/>
</dict>
</plist>
