<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BSTAppSettings</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGASYBJ1gkdmVyc2lvblgkb2JqZWN0c1kkYXJjaGl2
	ZXJUJHRvcBIAAYagrxAzAAcACAAtAC4ALwAwADEAMgAzADQANQA2ADcAOAA5ADoAOwA8
	AFQAVQBWAF0AagBrAHgAeQB6AIcAiACVAJYAowCkALEAsgC/AMAAzQDOANsA3ADpAOoA
	9wD4AQUBBgETARQBIQEiVSRudWxs0wAJAAoACwAMABwALFdOUy5rZXlzWk5TLm9iamVj
	dHNWJGNsYXNzrxAPAA0ADgAPABAAEQASABMAFAAVABYAFwAYABkAGgAbgAKAA4AEgAWA
	BoAHgAiACYAKgAuADIANgA6AD4AQrxAPAB0AHgAfACAAIQAiACMAJAAlACYAJwAoACkA
	KgArgBGAFYAXgBqAHIAegCCAIoAkgCaAKIAqgCyALoAwgDJfEBBjb20ubWl6YWdlLkRp
	dnZ5XxAVY29tLmdvb2dsZWNvZGUuaXRlcm0yXxASY29tLmFwcGxlLmFwcHN0b3JlXxAf
	Y29tLnJ1bm5pbmd3aXRoY3JheW9ucy5BbGZyZWQtMl8QEGNvbS5hcHBsZS5maW5kZXJf
	EB1jb20uYWdpbGViaXRzLm9uZXBhc3N3b3JkLW9zeF8QEmNvbS5zcG90aWZ5LmNsaWVu
	dF8QG2NvbS5hcHBsZS5zeXN0ZW1wcmVmZXJlbmNlc18QKWNvbS5ydW5uaW5nd2l0aGNy
	YXlvbnMuQWxmcmVkLVByZWZlcmVuY2VzXxATY29tLmFwcGxlLmluc3RhbGxlcl8QEmNv
	bS5hcHBsZS5Gb250Qm9va18QFWNvbS5hcHBsZS5sb2dpbndpbmRvd18QF2NvbS50YXBi
	b3RzLlR3ZWV0Ym90TWFjXxARY29tLmdvb2dsZS5DaHJvbWVfEBdjb20uYXBwbGUuc2Vj
	dXJpdHlhZ2VudNwAPQA+AD8AQABBAAsAQgBDAEQARQBGAEcASABJAEgASwBMAE0ATgAN
	AFAAUQBSAFNfEBBzcGVjaWZpY1NuYXBVc2VkXxATYm90dG9tUmlnaHRTbmFwU2l6ZV8Q
	FndpbmRvd1NuYXBwaW5nRGlzYWJsZWRbdG9wU25hcFNpemVfEBJib3R0b21MZWZ0U25h
	cFNpemVdcmlnaHRTbmFwU2l6ZV1hcHBJZGVudGlmaWVyXxAQdG9wUmlnaHRTbmFwU2l6
	ZVxsZWZ0U25hcFNpemVXbWluU2l6ZV8QD3RvcExlZnRTbmFwU2l6ZQgiPwAAAAiAEiI/
	AAAAgBQiPwAAAIACIj8AAAAiPwAAAIATIj8AAABfEBB7ezAsIDB9LCB7MCwgMH19Vnsw
	LCAwfdIAVwBYAFkAWlokY2xhc3NuYW1lWCRjbGFzc2VzVkJTVEFwcKIAWwBcVkJTVEFw
	cFhOU09iamVjdNwAPQA+AD8AQABBAAsAQgBDAEQARQBGAEcASABfAEgAYQBiAE0AZAAO
	AGYAZwBSAGkIIj8AAAAIgBYiPwAAAIAUIj8AAACAAyI/AAAAIj8AAACAEyI/AAAAXxAQ
	e3swLCAwfSwgezAsIDB9fdwAPQA+AD8AQABBAAsAQgBDAEQARQBGAEcASABtAEgAbwBw
	AE0AcgAPAHQAdQB2AHcIIj8AAAAIgBgiPwAAAIAUIj8AAACABCI/AAAAIj8AAACAGSI/
	AAAAXxAQe3swLCAwfSwgezAsIDB9fVt7MTAwMCwgNDcxfdwAPQA+AD8AQABBAAsAQgBD
	AEQARQBGAEcASAB8AEgAfgB/AE0AgQAQAIMAhABSAIYIIj8AAAAIgBsiPwAAAIAUIj8A
	AACABSI/AAAAIj8AAACAEyI/AAAAXxAQe3swLCAwfSwgezAsIDB9fdwAPQA+AD8AQABB
	AAsAQgBDAEQARQBGAEcASACKAEgAjACNAE0AjwARAJEAkgBSAJQIIj8AAAAIgB0iPwAA
	AIAUIj8AAACABiI/AAAAIj8AAACAEyI/AAAAXxAQe3swLCAwfSwgezAsIDB9fdwAPQA+
	AD8AQABBAAsAQgBDAEQARQBGAEcASACYAEgAmgCbAE0AnQASAJ8AoABSAKIIIj8AAAAI
	gB8iPwAAAIAUIj8AAACAByI/AAAAIj8AAACAEyI/AAAAXxAQe3swLCAwfSwgezAsIDB9
	fdwAPQA+AD8AQABBAAsAQgBDAEQARQBGAEcASACmAEgAqACpAE0AqwATAK0ArgBSALAI
	Ij8AAAAIgCEiPwAAAIAUIj8AAACACCI/AAAAIj8AAACAEyI/AAAAXxAQe3swLCAwfSwg
	ezAsIDB9fdwAPQA+AD8AQABBAAsAQgBDAEQARQBGAEcASAC0AEgAtgC3AE0AuQAUALsA
	vABSAL4IIj8AAAAIgCMiPwAAAIAUIj8AAACACSI/AAAAIj8AAACAEyI/AAAAXxAQe3sw
	LCAwfSwgezAsIDB9fdwAPQA+AD8AQABBAAsAQgBDAEQARQBGAEcASADCAEgAxADFAE0A
	xwAVAMkAygBSAMwIIj8AAAAIgCUiPwAAAIAUIj8AAACACiI/AAAAIj8AAACAEyI/AAAA
	XxAQe3swLCAwfSwgezAsIDB9fdwAPQA+AD8AQABBAAsAQgBDAEQARQBGAEcASADQAEgA
	0gDTAE0A1QAWANcA2ABSANoIIj8AAAAIgCciPwAAAIAUIj8AAACACyI/AAAAIj8AAACA
	EyI/AAAAXxAQe3swLCAwfSwgezAsIDB9fdwAPQA+AD8AQABBAAsAQgBDAEQARQBGAEcA
	SADeAEgA4ADhAE0A4wAXAOUA5gBSAOgIIj8AAAAIgCkiPwAAAIAUIj8AAACADCI/AAAA
	Ij8AAACAEyI/AAAAXxAQe3swLCAwfSwgezAsIDB9fdwAPQA+AD8AQABBAAsAQgBDAEQA
	RQBGAEcASADsAEgA7gDvAE0A8QAYAPMA9ABSAPYIIj8AAAAIgCsiPwAAAIAUIj8AAACA
	DSI/AAAAIj8AAACAEyI/AAAAXxAQe3swLCAwfSwgezAsIDB9fdwAPQA+AD8AQABBAAsA
	QgBDAEQARQBGAEcASAD6AEgA/AD9AE0A/wAZAQEBAgBSAQQIIj8AAAAIgC0iPwAAAIAU
	Ij8AAACADiI/AAAAIj8AAACAEyI/AAAAXxAQe3swLCAwfSwgezAsIDB9fdwAPQA+AD8A
	QABBAAsAQgBDAEQARQBGAEcASAEIAEgBCgELAE0BDQAaAQ8BEABSARIIIj8AAAAIgC8i
	PwAAAIAUIj8AAACADyI/AAAAIj8AAACAEyI/AAAAXxAQe3swLCAwfSwgezAsIDB9fdwA
	PQA+AD8AQABBAAsAQgBDAEQARQBGAEcASAEWAEgBGAEZAE0BGwAbAR0BHgBSASAIIj8A
	AAAIgDEiPwAAAIAUIj8AAACAECI/AAAAIj8AAACAEyI/AAAAXxAQe3swLCAwfSwgezAs
	IDB9fdIAVwBYASMBJF8QE05TTXV0YWJsZURpY3Rpb25hcnmjASMBJQBcXE5TRGljdGlv
	bmFyeV8QD05TS2V5ZWRBcmNoaXZlctEBKAEpVHJvb3SAAQAIABkAIgArADUAOgA/AKgA
	rgC7AMMAzgDVAPYA+AD6APwA/gEAAQIBBAEGAQgBCgEMAQ4BEAESARQBNQE3ATkBOwE9
	AT8BQQFDAUUBRwFJAUsBTQFPAVEBUwFVAWgBgAGVAbcBygHqAf8CHQJJAl8CdAKMAqYC
	ugLUAwUDGAMuA0cDUwNoA3YDhAOXA6QDrAO+A78DxAPFA8cDzAPOA9MD1QPaA98D4QPm
	A/kEAAQJBBQEHQQkBCkEMAQ5BGoEawRwBHEEcwR4BHoEfwSBBIYEiwSNBJIEpQTWBNcE
	3ATdBN8E5ATmBOsE7QTyBPcE+QT+BREFHQVOBU8FVAVVBVcFXAVeBWMFZQVqBW8FcQV2
	BYkFugW7BcAFwQXDBcgFygXPBdEF1gXbBd0F4gX1BiYGJwYsBi0GLwY0BjYGOwY9BkIG
	RwZJBk4GYQaSBpMGmAaZBpsGoAaiBqcGqQauBrMGtQa6Bs0G/gb/BwQHBQcHBwwHDgcT
	BxUHGgcfByEHJgc5B2oHawdwB3EHcwd4B3oHfweBB4YHiweNB5IHpQfWB9cH3AfdB98H
	5AfmB+sH7QfyB/cH+Qf+CBEIQghDCEgISQhLCFAIUghXCFkIXghjCGUIagh9CK4Irwi0
	CLUItwi8CL4IwwjFCMoIzwjRCNYI6QkaCRsJIAkhCSMJKAkqCS8JMQk2CTsJPQlCCVUJ
	hgmHCYwJjQmPCZQJlgmbCZ0JogmnCakJrgnBCfIJ8wn4CfkJ+woACgIKBwoJCg4KEwoV
	ChoKLQo2CkwKUwpgCnIKdwp8AAAAAAAAAgIAAAAAAAABKgAAAAAAAAAAAAAAAAAACn4=
	</data>
	<key>BSTDidUnhideLoginItem</key>
	<true/>
	<key>BSTKey</key>
	<string>414576-5437-75612-31-4e49f3476b4bc7c6575720c07441ef84</string>
	<key>NSColorPanelMode</key>
	<string>6</string>
	<key>launchOnStartup</key>
	<true/>
	<key>registeredHotkeys</key>
	<dict>
		<key>0</key>
		<dict>
			<key>keyCode</key>
			<integer>126</integer>
			<key>modifiers</key>
			<integer>8390656</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>keyCode</key>
			<integer>123</integer>
			<key>modifiers</key>
			<integer>8390656</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>keyCode</key>
			<integer>124</integer>
			<key>modifiers</key>
			<integer>8390656</integer>
		</dict>
	</dict>
	<key>savedWindowInformation</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGWltYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QGAcIESMkJSYnLjg5Ojs8RUZHSElSU1RVVlUkbnVsbNIJCgsQWk5TLm9iamVj
	dHNWJGNsYXNzpAwNDg+AAoAIgA2AEoAX2RIKExQVFhcYGRobHB0eHxwhIldvbGRTaXpl
	XxARc25hcHBlZEJ5VGl0bGViYXJbb2xkUG9zaXRpb25fEBBsYXN0U25hcFBvc2l0aW9u
	XxAPcmVzaXplZFBvc2l0aW9uW2RyYWdTbmFwcGVkV25ld1NpemVcd2luZG93TnVtYmVy
	gAOABwiABhAAgAUIgAQRAQ1cezEyMDAsIDExNzh9XHsxOTIwLCAxMTc4fVh7LTAsIDIy
	fVd7NCwgMjJ90igpKitaJGNsYXNzbmFtZVgkY2xhc3Nlc1lBUElXaW5kb3eiLC1ZQVBJ
	V2luZG93WE5TT2JqZWN02RIKExQVFhcYGS8bHDIzNBw2N4AJgAcIgAwQBIALCIAKEQKO
	Wns2NTAsIDQ5OH1bezk1NCwgMTE2NH1Zezk2MCwgMjJ9WXs5NjAsIDIyfdkSChMUFRYX
	GBk9GxxAM0EcQ0SADoAHCIARgBAIgA8RAqdaezY1MCwgNDk4fVt7OTU0LCAxMTY0fVl7
	OTYwLCAyMn1Zezk2MCwgMjJ92RIKExQVFhcYGUobHE0zThxQUYATgAcIgBaAFQiAFBEC
	rFp7NjUwLCA0OTh9W3s5NTQsIDExNjR9WXs5NjAsIDIyfVl7OTYwLCAyMn3SKClXWF5O
	U011dGFibGVBcnJheaNXWS1XTlNBcnJheV8QD05TS2V5ZWRBcmNoaXZlctFcXVRyb290
	gAEACAARABoAIwAtADIANwBSAFgAXQBoAG8AdAB2AHgAegB8AH4AkQCZAK0AuQDMAN4A
	6gDyAP8BAQEDAQQBBgEIAQoBCwENARABHQEqATMBOwFAAUsBVAFeAWEBawF0AYcBiQGL
	AYwBjgGQAZIBkwGVAZgBowGvAbkBwwHWAdgB2gHbAd0B3wHgAeIB5QHwAfwCBgIQAiMC
	JQInAigCKgIsAi0CLwIyAj0CSQJTAl0CYgJxAnUCfQKPApIClwAAAAAAAAIBAAAAAAAA
	AF4AAAAAAAAAAAAAAAAAAAKZ
	</data>
	<key>showMenubarIcon</key>
	<false/>
</dict>
</plist>
