<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame alfredpreferences</key>
	<string>9 149 1100 662 0 0 1440 878 </string>
	<key>appearance.theme</key>
	<string>alfred.theme.lightlarge</string>
	<key>features.1password.enabled</key>
	<true/>
	<key>features.clipboard.enabled</key>
	<true/>
	<key>hotkey.default</key>
	<dict>
		<key>key</key>
		<integer>49</integer>
		<key>mod</key>
		<integer>1048576</integer>
		<key>string</key>
		<string>Space</string>
	</dict>
	<key>lastTab</key>
	<string>appearance</string>
	<key>lastTabBuild</key>
	<string>187</string>
	<key>lastTabTS</key>
	<real>390645376.63146901</real>
	<key>version</key>
	<string>2.0.3</string>
</dict>
</plist>
